<form class="buy-form" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="name">Product's name: {{ product.name }}</label>
    </div>

    <div class="form-group">
        <label for="quantity">Available quantity: {{ product.quantity }}</label>
        <input class="form-control" type="text" name="quantity" [(ngModel)]="quantity" id="quantity" placeholder="Enter quantity">
    </div>

    <div class="form-group">
        <label for="price">Product's price: {{ product.price }}</label>
    </div>

    <input type="submit" value="Buy Product" class="btn btn-block  btn-outline-success">
</form>